<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">LISTE DES POSTS</h4>
                        <p class="category">Posts du service http://jsonplaceholder.typicode.com</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>userId</th>
                                    <th>id</th>
                                    <th>title</th>
                                    <th>body</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let post of posts">
                                    <td>{{post.userId}}</td>
                                    <td>{{post.id}}</td>
                                    <td>{{post.title}}</td>
                                    <td>{{post.body}}</td>
                                    <a [routerLink]="['/posts/', post.id]">
                                        <i class="fa fa-eye view-icon" aria-hidden="true"></i>
                                    </a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>